<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="alpha_system"
    params="prefix use_fake_hardware mock_sensor_commands serial_port heartbeat_timeout state_update_frequency">

    <ros2_control name="${prefix}alpha_hardware" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">${mock_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>alpha_hardware/AlphaHardware</plugin>
          <param name="serial_port">${serial_port}</param>
          <param name="heartbeat_timeout">${heartbeat_timeout}</param>
          <param name="state_update_frequency">${state_update_frequency}</param>
        </xacro:unless>
      </hardware>
      <joint name="${prefix}axis_e">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}axis_d">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}axis_c">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}axis_b">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}axis_a">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
