<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="alpha_ros2_control"
    params="name prefix serial_port heartbeat_timeout state_update_frequency initial_positions_file use_sim:=^|false use_fake_hardware:=^true">
    <xacro:property name="initial_positions"
      value="${load_yaml(initial_positions_file)['initial_positions']}" />

    <ros2_control name="${name}" type="system">
      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
      </xacro:if>
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>alpha_hardware/AlphaHardware</plugin>
          <param name="serial_port">${serial_port}</param>
          <param name="heartbeat_timeout">${heartbeat_timeout}</param>
          <param name="state_update_frequency">${state_update_frequency}</param>
        </xacro:unless>
      </hardware>
      <joint name="axis_e">
        <param name="initial_value">${initial_positions['axis_e']}</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="axis_d">
        <param name="initial_value">${initial_positions['axis_d']}</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="axis_c">
        <param name="initial_value">${initial_positions['axis_c']}</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="axis_b">
        <param name="initial_value">${initial_positions['axis_b']}</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="axis_a">
        <param name="initial_value">${initial_positions['axis_a']}</param>
        <command_interface name="position" />
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
