<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alpha">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import alpha urdf file -->
    <xacro:include filename="$(find alpha_description)/config/alpha.config.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="alpha.ros2_control.xacro" />


    <xacro:alpha_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
