<?xml version="1.0"?>
<robot name="alpha" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Declare arguments which can be set from a launch file -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="mock_sensor_commands" default="true" />
  <xacro:arg name="serial_port" default="" />
  <xacro:arg name="heartbeat_timeout" default="5000" />
  <xacro:arg name="state_update_frequency" default="200" />

  <!-- Import Alpha macro -->
  <xacro:include
    filename="$(find alpha_description)/urdf/alpha.urdf.xacro" />

  <!-- Import ros2_control macro -->
  <xacro:include
    filename="$(find alpha_description)/ros2_control/alpha.ros2_control.xacro" />

  <link name="world" />

  <xacro:alpha parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alpha>

  <xacro:alpha_system prefix="$(arg prefix)"
    use_fake_hardware="$(arg use_fake_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    serial_port="$(arg serial_port)"
    heartbeat_timeout="$(arg heartbeat_timeout)"
    state_update_frequency="$(arg state_update_frequency)" />

</robot>
