<?xml version="1.0"?>
<robot name="alpha_5_example" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include
    filename="$(find alpha_description)/urdf/alpha_description.urdf.xacro" />
  <link name="base_link" />
  <xacro:alpha parent="base_link" name="alpha">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alpha>
</robot>
