<?xml version="1.0"?>
<robot name="alpha_5_example" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include
    filename="$(find bpl_alpha_description)/urdf/alpha_5_description.urdf.xacro" />
  <link name="base_link" />
  <xacro:alpha_5 parent="base_link" name="alpha">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alpha_5>
</robot>
